<!-- <div class="eventcard"> -->
<div>
    <div class="row">
        <dt>Krasak बायोफेल्स का हिस्सा बनने के लिए इस फॉर्म को डाउनलोड करें
            और इसे Krasak Biofuels के कार्यालय में जमा करें - </dt>
        <dt>Registered Office & Mailing Address:</dt>
        <dd>
            Mazid complex 2 floor Maudaha Hamirpur [ U.P] 210507 <br /><br />
        </dd>

        <a href="/assets/doc/form.pdf" download>
            <img src="/assets/img/download-form.jpg" width="200" height="50">
        </a>
        <br>
        <br>
    </div>
</div>