<div class="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <br />
            <img src="./assets/img/contactImage.png" class="img-responsive introImage" alt="Contact Image" />
            <dl class="defaultDescList">
                <!--email_off-->
                <dt>Head Office</dt>
                <dd>
                    Moti Bhawan, Shankar Patti, Kanpur U.P. 208001 <br /><br />
                </dd>
                <dt>Regional Office</dt>
                <dd>
                    1st Floor Majid Complex, Maudaha Hamirpur U.P. 210507 <br /><br />
                </dd>
                <dt>State Office Bihar</dt>
                <dd>
                    318, Maharaja Kameshwar Complex, Patna Bihar 800001<br /><br />
                </dd>
                <dt>State Office Madhya Pradesh</dt>
                <dd>
                    Sagar Road Dairy Tigadda Chatarpur M.P. 110074<br /><br />
                </dd>
                <dt>Other Contact Details:</dt>
                <dd>
                    EMAIL: krasakbiofuels@gmail.com <br />
                    Contact No. +91 7905537387<br />
                    Give Us Missed Call at : +91 9839519693<br />
                    Toll Free Number : 1800 123 3837</dd>
                <br />
                <!--/email_off-->
            </dl>
            <br />
        </div>
    </div>
</div>