<div class="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <br />
            <img src="./assets/img/contactImage.png" class="img-responsive introImage" alt="Contact Image" />
            <dl class="defaultDescList">
                <dt>Registered Office & Mailing Address:</dt>
                <dd>
                    Mazid complex 2 floor Maudaha Hamirpur [ U.P] 210507 <br /><br />
                    <dt>BRANCH OFFICE: </dt>BANDA , BHARUA , RATH, MAHOBA AND MANY OTHERS BLOCK AND DISTRICT
                </dd>
                <br /><br />
                <dt>MANAGING DIRECTOR:</dt>
                <dd>
                    RISHABH GUPTA(LUCKY)<br /> EMAIL: guptalucky49613@gmail.com <br /> MOB NO: 7007325454,7380423292
                </dd>
                <br />
                <dt>CHAIRMAN:</dt>
                <dd>
                    SANTOSH KUMAR GUPTA <br /> EMAIL: guptasantoshkumar280@gmail.com
                </dd>
            </dl>
            <br />
        </div>
    </div>
</div>