<div class="col-md-12">
    <!-- <img src="./assets/img/governmentmission.png" class="img-responsive introImage" alt="Government Mission Image" /> -->
    <h2 class="defaultHeader">भारत सरकार की योजना</h2>
    <img src="./assets/img/governmentvision1.jpg" class="img-responsive introImage" alt="Government Mission Image" />
    <br />
    <p>
        हमारी कम्पनी 01/05/2019 को प्रकाशित हुए भारत के राजपत्र ( The Gazzette Of India ) Regd. S. D.L.33004/99 व
        राष्ट्रीय जैव ईंधन नीति ( National Policy Of Biofuels ) के अनुसार देश में जैव . क्रान्ति लाने के लिए My Diesel
        की छोटी फुटकर बिक्री केन्द्र, My Diesel पेट्रोल पम्प, जिले स्तर पर My Diesel भण्डारण हेतु डिपोट, My Diesel
        उत्पादन हेतु फैक्टरी लगाने व Agricultural waste, Commercial Waste व कई अन्य तकनीकों से इसके उत्पादन करने जा रही
        है।
    </p>
    <br />
    <img src="./assets/img/governmentvision2.jpg" class="img-responsive introImage" alt="Government Mission Image" />
    <br />
</div>