<!-- <div class="header">
    <img class="img-responsive" src="./assets/img/siteheader.png"></img>
</div> -->

<!-- <div class="page-header">
    <img class="pull-left" src="./assets/img/logot.png"><img>
</div> -->

<!-- <div class="navbar-brand brand-name"><img class="pull-left" src="./assets/img/logot.png"><img></div> -->

<div class="header" style="display:flex;">
    <div class="col-xs-8 col-sm-8 col-md-5 col-lg-5">
        <!-- <div class="col-xs-5 col-sm-2 col-md-4 col-lg-3">
            <a href="#"><img class="img-responsive" src="./assets/img/logot.png"></img></a>
        </div> -->

        <div class="col-xs-7 col-sm-10 col-md-8 col-lg-9">
            <img class="img-responsive" src="./assets/img/krasaklogo.png"></img>
        </div>
    </div>
    <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2">
        <!-- <img class="img-responsive" src="./assets/img/contactjj.png"></img> -->
        <a href="https://www.petroldieselprice.com/search-petrol-diesel-price-with-postal-pincode" target="_blank">Check
            Today's Fuel Prices</a>
        <br />
        <a href="https://www.petroldieselprice.com/search-petrol-diesel-price-with-postal-pincode" target="_blank">आज के
            ईंधन की कीमतों की जाँच करें</a>
        <h5>Contact:</h5>
        <h6>+91-7905537387, 9839519693</h6>
        <h6>Toll Free - 1800 123 3837</h6>
    </div>
    <p>

    </p>

</div>
</div>