<!-- <div class="header">
    <img class="img-responsive" src="./assets/img/siteheader.png"></img>
</div> -->

<!-- <div class="page-header">
    <img class="pull-left" src="./assets/img/logot.png"><img>
</div> -->

<!-- <div class="navbar-brand brand-name"><img class="pull-left" src="./assets/img/logot.png"><img></div> -->

<div class="header" style="display:flex;">
    <img class="img-responsive" src="./assets/img/logot.png"></img>
    <img class="img-responsive" src="./assets/img/htextt.png"></img>
    <img class="img-responsive" src="./assets/img/contactht.png"></img>
</div>