<div classN="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <p>

                पिछले कई दिनों से ईंधन के क्षेत्र में कोई भी नई तकनीकों का इजात नही हुआ है। हमारी कम्पनी इस समस्या का
                समाधान करने के लिए नयी एवे एडवांस तकनीकों से निर्मित देष में नई ईंधन क्रान्ति लाने के लिए अपना ब्राण्ड
                My Diesel लेकर आयी है।

                <br>
                My Diesel ईंधन व जैविक क्रान्ति का संपोशणीय हल है। My Diesel अक्षय उर्जा स्त्रोत से बना जैव ईंधन है जो
                पेट्रोल पम्प वाले डीजल को तकनीक एवं गुणवत्ता के इाधर पर कई गुना पीछे छोडता है।

                <br>
                My Diesel नई एवं Advanced तकनीकों को इस्तेमाल कर जैव स्त्रोतों से निर्मित Premium Quality का डीजल है।
                <br>
                हमारी कम्पनी अपने देष में इसकी मार्केटिंग उत्पादन व कच्चे माल के लिए कई योजनाओं पर काम करती है।
                <br>
                जो निम्न प्रकार हैं-------

                <br>
                <h2>इस प्रोजेक्ट से कई फायदे होंगे</h2>
                <br>
                <b>प्रदूषण - </b> देश में बढ़ते हुए प्रदूषण आज की बड़ी समस्या हैए हमारा My Diesel, पेट्रोल पम्प वाले डीजल
                की अपेक्षा 80% तक हानिकारक गैसों का कम उत्सर्जन करता है जिनसे कैंसर जैसी खतरनाक बिमांरियाँ होती है।
                <br>
                <b>रोजगार - </b> कम्पनी इस बड़े प्रोजेक्ट पर काम करके देश में रोजगारी के नए अवसर भी लायेगी।
                <br>
                <b>नगरिकों को सुविधा - </b> हमारे पंजीकृत व अन्य ग्राहकों को डीजल पेट्रोल पम्प से सस्ता प्राप्त होगा।
                <br>
                <b>दरवाजे पर ही डीजल मंगाने की सुविधा - </b> हमारी कम्पनी अपने पंजीकृत ग्राहकों को उनके दरवाजे पर डीजल
                पहुंचाकर देगी।
                <br>
                <b>पंजीकृत ग्राहक - </b> हमारी कम्पनी अपने पंजीकृत ग्राहकों को उनकी खरीद के अनुसार उपहारए ईनाम भी
                प्राप्त करवायेगी।
                <br>
                <b>सुरक्षित वाहन योजना - </b> इस योजना के तहत कम्पनी अपने पंजीकृत ग्राहकों के वाहनों में डीजल इंजन
                Maintenance की जिम्मेदारी लेती है।
                <br>
                <b>किसानो को सम्पन्न बनाना - </b> कम्पनी देश के किसानों के हित के लिये उनकी बंजर पड़ी जमीन पर रजनजोत
                जैट्रोफा की खेती करायेगी जिससे बायोडीजल बनेगा और अपने देश के किसान सम्पन्न होंगे।


            </p>
        </div>
    </div>
</div>