<div classN="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <p>
                <!-- <b>KRASAK BIOFUELS PVT. LTD. </b> -->
                <br />
                <b>डीजल की फुटकर दुकान व पेटी पाने के लिए आवेदन करें।</b> Click <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSeztynG2BBTWrhwVXtEEcFHWabEIMdk8SMPVnstQIz-wesMYA/viewform?embedded=true">here</a>
                <br />
                <b>डीजल की ब्लॉक स्तर पर एजेंसी पाने के लिए आवेदन करें।</b> Click <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSdssz7Pltj3z79-vHTFp1VTSV0E08eOyrHoORLnBYLq1GtNcg/viewform?embedded=true">here</a>
                <br />
                पिछले कई दिनों से ईंधन के क्षेत्र में कोई भी नई तकनीकों का इजात नही हुआ है। हमारी कम्पनी इस समस्या का
                समाधान करने के लिए नयी एवे एडवांस तकनीकों से निर्मित देष में नई ईंधन क्रान्ति लाने के लिए अपना ब्राण्ड
                डल क्पमेमस लेकर आयी है।
                <br />
                <br />
                डल क्पमेमस ईंधन व जैविक क्रान्ति का संपोशणीय हल है। डल क्पमेमस अक्षय उर्जा स्त्रोत से बना जैव ईंधन है जो
                पेट्रोल पम्प वाले डीजल को तकनीक एवं गुणवत्ता के इाधर पर कई गुना पीछे छोडता है।
                <br />
                <br />
                डल क्पमेमस नई एवं ।कअंदबमक तकनीकों को इस्तेमाल कर जैव स्त्रोतों से निर्मित च्तमउपनउ फनंसपजल का डीजल है।
                हमारी कम्पनी अपने देष में इसकी मार्केटिंग उत्पादन व कच्चे माल के लिए कई योजनाओं पर काम करती है।
                जो निम्न प्रकार हैं.............
                <br />
                <br />
                1. पेटी डीलर
                <br />
                2. सप्लायर ( कंवल उत्तर प्रदेष के लिए)
                <br />
                3. पेटी पट्रोल पम्प ( 2000 लीटर)
                <br />
                4. मिनी पेट्रोल पम्प
                <br />
                5. पेट्रोल पम्प डिपोट
                <br />
                6. मेगा पेट्रोल पम्प
                <br />
                7. माई डीजल उत्पादन फैक्ट्री
                <br />
                8. रजिस्टर्ड कस्टमर योजना
                <br />
                9. होम डिलीवरी
                <br />
                10. सम्पर्क एवं कार्यालय
                <br />
                11. ऋण
                <br />
                12. पार्टनर
                <br />
                13. बिजनेस टीम
                <br />
                14. निवेषक
                <br />

            </p>
            <br />
            <br />
            <br />
            <img src="./assets/img/hierarchy.png" class="img-responsive introImage" alt="Home Image" />
            <br />
            <p>
            </p>
        </div>
    </div>
</div>