<div classN="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <br />
            <img src="./assets/img/hierarchy.png" class="img-responsive introImage" alt="Home Image" />
            <br />
            <p>
                <b>JAI JAWAN BIODIESEL PVT. LTD. </b> is an oil marketing company whose incorporated under the companies
                act . Company’s deals mainly in Biodiesel and also other petroleum products.. It was conceived by a group
                of Technologists with a comprehensive professional experience with multinational companies under the able
                Leadership of Mr. Rishabh Gupta who is the M.D &amp; Chief of Technology of the company. Mr. Rishabh Gupta
                proposed a journey for the present society at large from the present polluted and harmful environment back
                to the green and pure environment as it was ages before. The company deals in opening retail outlets and
                biodiesel pumps in suitable villages,towns and cities and provide them biodiesel to sell as per demand and
                requirement.
            </p>
            <br />
            <p>
                <b>PROCEDURE TO OPEN RETAIL OUTLETS: </b> The person who is interested in opening a retail outlets will be
                been charged ₹ 15,000 to procure authorization to which you can pay through demand draft, cheques etc. .Then
                the person will go to our website and fill application form.. our company will check the eligibility and
                will grant the permission.
            </p>
            <br />
            <p>
            </p>
        </div>
    </div>
</div>