<div classN="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <br />
            <p>
                <u><b>Investment Policy : निवेशक योजनाद्ध</b></u>
            </p>
            <br />
            <img src="./assets/img/investorimagetoppic.jpg" class="img-responsive introImage" alt="Home Image" />
            <br />
            <p>
                <!-- <b>KRASAK BIOFUELS PVT. LTD. </b> -->
                <br />
                हमारी यह योजना अपने व्यापार को ऊचाइयों तक पहुंचाना व जैव ईंधन से पुरे देश प्रदुषण मुक्त करने में मदद
                करेगी।
                <br />
                हमारी इस योजना का मुख्य उद्देश्य जैव ईंधन को बढ़ावा देने के लिए डल क्पमेमस की उत्पादन फैक्ट्रीयाँ डल
                कपमेमस के पैट्रोल पम्प, कच्चा माल की खेती में लोगों का पैसा निवेश करवाकर उनको पैसा कमवाने का है। इच्छुक
                पैसा निवेश करके 1 . 4ः तक का प्रतिमाह के ब्याज दर से पैसा कमा सकते है।
                <br />
                निवश के पैसों की पुरी गारंटी रहेगी कम्पनी उसे अपनी सम्पत्ती का बॉण्ड बनाकर देगी व साथ में Security
                Cheque देकर Agreement भी करेगी, जैसे कि LIC Company करती है।
                <br />
                निवेशक इच्छुक का पैसा सुरछित है, इसके लिए निवेशक कभी भी कम्पनी का Bank Statement ले सकता है व अपने पैसों
                की सुरछा के लिए कम्पनी में आवश्यक कार्यवाही भी कर सकता है।
                <br />
                <br />
                <b><u>कम्पनी के हिस्से का मालिक बनाकर निवेश करना</u></b>

                <br />
                इच्छुक निवेशक अपना पैसा कम्पनी के शेयर्स का मालिक बनकर भी लगा सकता है। Angel Inventiers Venture
                Captelist Pvt. Equity Funds करते है।
                <br />
                इस पर निवेशक को कम्पनी की पूरी सम्पत्ती बतायी जायेगी और उस सम्पत्ती के आधार पर निवेशक जितना पैसा कम्पनी
                में निवेश करेगा, उसके आधार पर उसे कम्पनी का डायरेक्टर बनाकर पैसों के आधार पर उसे उतने पर्सेंट का मालिक
                बनाया जायेगा।
                <br />
                <b><u>Note :</u></b> इस प्रोजेक्ट की अधिक जानकारी के लिए कम्पनी के नम्बरों में सर्म्पक करें व कम्पनी की
                वेब साइट में आवेदन करें।
                <br />
                +91-7905537387
            </p>
            <br />
            <p>
            </p>
        </div>
    </div>
</div>