<div class="eventcard">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" ng-repeat="session in investors">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="{{session.imgpath}}">
                <div class="card-block">
                    <h4 align="center" class="card-title">{{session.topic}}</h4>
                    <div class="card-text">
                        {{session.Description}}
                    </div>
                </div>
                <div class="card-footer">
                    <button href="{{session.url}}" data-toggle="modal" class="btn btn-info btn-sm"><a target="_blank" href="{{session.url}}">Application Form</a></button>
                </div>
            </div>
        </div>
    </div>
</div>