<div class="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <h2 class="defaultHeader">कच्चा माल की व्यवस्था के लिये टीम :-</h2>
            <br />
            <br />
            <p>
                कम्पनी ने पूरे देश मे कच्चे माल की व्यवस्था के लिये जिससे बायोडीजल व नवीनीकरणीय डीजल जैसे की - जैट्रोफा
                ,
                सोयाबीन , सनफ्लावर , पाम , फसल अवशेष , कृषि अवशेष , रेस्तरां व होटलों मे बचा हुआ used cooking oil की
                व्यवस्था के लिये अलग अलग टीम का निर्माण किया है।
                कम्पनी देश के किसानों के हित के लिये उनकी बंजर पड़ी जमीन पर रजनजोत जैट्रोफा की खेती करायेगी जिससे
                बायोडीजल बनेगा और अपने देश के किसान सम्पन्न होंगे।

                <br />
            </p>
        </div>
    </div>
</div>