<div classN="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <br />
            <p>
                <u><b>Loan Policy : ऋण योजनाद्ध</b></u>
            </p>
            <br />
            <img src="./assets/img/loan.png" class="img-responsive introImage" alt="Home Image" />
            <br />
            <p>
                <!-- <b>KRASAK BIOFUELS PVT. LTD. </b> -->
                <br />
                इस पॉलिसी का भी मुख्य उद्देश्य नये उम्र के इण्टर प्रीनियर को व्यापार करने के लिए प्रोत्साहित करना है,
                जिस पर कम्पनी, अगर वह डीलर बनने का इच्छुक है तो उसके कागजों के आधार पर सरकारी और गैर सरकारी बैंको से
                मुद्रा NSME वह Working Capital व उद्योग विभाग से Loan करवाने में मदद करेगा।

            </p>
            <br />
            <img src="./assets/img/loan2.jpg" class="img-responsive introImage" alt="Home Image" />
            <br />
            <br />
            <p>
            </p>
        </div>
    </div>
</div>