<div class="col-md-9 contentScreen">
    <div class="row">
        <iframe src="./assets/doc/minipetrolpump.pdf" width="100%" height="500px"></iframe>
        <!-- <div class="col-md-12">
            <h2 class="defaultHeader">Mini Petrol Pump</h2>
            <br />
            <img src="./assets/img/minipetrolpump1.jpg" class="img-responsive introImage" alt="Company Mission Image" />
            <br />
            <p>
                कम्पनी अपनी इस योजना से जैव - ईंधन को बढ़ावा देने के लिए बहुत ही कम लागत में Mini Petrol Pump देने जा रही
                है जिसको डीलर काम बढ़ने के साथ बढ़वा सकती है। कम्पनी इस योजना में 1 Machine, 1 Tank, Canopy (छत), License,
                Registration व NOC's अपनी तरफ से करवाकर देगी। Petrol Pump लेने वाले Dealer को Electricity, Water,
                Office, और Boundary की व्यवस्था खुद करनी होगी।
                <br />
                <br />
                <img src="./assets/img/minipetrolpump2.jpg" class="img-responsive introImage"
                    alt="Company Mission Image" />
                <br />
                <b>NOTE - </b> My Diesel, Market Petrol Pump Rate से 2 रु सस्ता हमारे पम्प से बिकेगा करें व कम्पनी की
                वेब साइट में आवेदन करें। +91-7905537387
                <br />
                <b>डीलरशिप लेने वाले से - </b>
                <br />
                बिजली, पानी की व्यवस्था
                <br />
                Minimum Land Required - 60 * 80 (feet)
                <br />
                कम से कम जमीन की जरुरत - 60 * 80 (feet)
                <br />
                <b>
                    Note -
                </b> Circle Rates के हिसाब से कम्पनी जमीन का किराया भी देगी।
                <br />
                Mini Petrol Pump पाने की कुल लागत 20 Lac रु जिस पर 50 से 60 प्रतिशत तक का लोन भी हो सकता है।
                <br />
                पेट्रोल पम्प खोलने के लिए जरुरी दस्तावेज या साधन।
                <br />
                <b>कम्पनी द्वारा देने वाली सुविधायें - </b>
                <br />
                <ul class="defaultList">
                    <li>
                        1. Machine, Tank, Roof, Office,
                        Boundary wall - 9 Lac
                    </li>
                    <li>
                        2. License, , Registration और कानुनी काम हेतू - 6 Lac
                    </li>
                    <li>
                        3. Security - 5 Lac
                    </li>
                </ul>

            </p>
        </div> -->
    </div>
</div>