<div classN="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <b><u>माई डीजल</u></b>
            </h2>
            <p>
                <br />
                <img src="./assets/img/mydieselmain1.jpg" class="img-responsive introImage"
                    alt="Company Mission Image" />
                <br />
                हमारा My Diesel क्पमेमस ईंधन क्रान्ति व जैविक क्रान्ति का संपोषणीय हल है। My Diesel अक्षय ऊर्जा स्रोत
                से बना हुआ जैव ईंधन है जो पेट्रोल पम्प वाले डीजल को तकनीक व गुणवत्ता के अधार पर कई गुना पीछे छोड़ता
                है।
                <br />
                My Diesel नई एवं Advanced तकनीकों को इस्तेमाल कर जैव स्रोतों से निर्मित Premium Quality का डीजल है ।
                <br />
            </p>
            <br />
            <br />
            <br />
            <p>
            </p>
        </div>
    </div>
</div>