<div class="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <h2 class="defaultHeader">My Diesel (उत्पादन फैक्ट्री)</h2>
            <br />
            <img src="./assets/img/mydieselproductionfac1.jpg" class="img-responsive introImage"
                alt="Company Mission Image" />
            <br />
            <p>
                कम्पनी जिले स्तर में My Diesel की सेल के अनुसार Tender डालकर My diesel की उत्पादन फैक्ट्री लगायेगी।
                <br />
                कम्पनी उत्पादन प्रोजेक्ट की मूल्य के अनुसार निवेशक या पार्टनर बनाकर उत्पादन फैक्ट्री डालेगी या फिर कोई
                इच्छुक अकेले ही यह काम लेना चाहता है तो फिर बैंक से लोन करवाकर My Diesel का उत्पादन करने में उसकी मदद
                करेगी, उसे कच्चा माल देगी व कच्चे माल से बना हुआ My Diesel भी खरीदेगी।
                <br />
                हमारी कम्पनी My Diesel नये एवं जैव तकनीकों का इस्तेमाल करके बनाती है। My Diesel की उत्पादन फैक्ट्री का
                जिले स्तर में Tender निकालकर हर एक जिले में एक.एक उत्पादन फैक्ट्री डालने जा रही है।
                <br />
                उत्पादन फैक्ट्री में आप निवेश कर सकते हैं या प्रोजेक्ट के मूल के आधार पर आप जितना पैसा लगायेंगे उतने
                प्रतिशत से उस फैक्ट्री के पार्टनर बन सकते हैं।
                <br />
                Project कि Cost, Income व Profit की अधिक जानकारी के लिए आप कम्पनी में सर्म्पक कर सकते हैं।
                <br />
                <br />
                <img src="./assets/img/mydieselproductionfac2.jpg" alt="Company Mission Image" />
                <br />
                <b>NOTE - </b>
                <br />
                <b> इस प्रोजेक्ट की अधिक जानकारी के लिए कम्पनी के नम्बरों में सर्म्पक करें व कम्पनी की वेब
                    साइट में आवेदन करें। +91-7905537387</b>
                <br />
                <br />
                <b>Register Customer योजना व Available on Demand, Door to Door Diesel Supply योजना के तहत डीलर की बिक्री
                    बढ़वाने के लिए कम्पनी डीलर के पेट्रोल पम्प से इसकी सप्लाई करवायेगी।</b>
            </p>
        </div>
    </div>
</div>