<div class="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <h2 class="defaultHeader">My Diesel(उत्पादन फैक्ट्री)</h2>
            <br />
            <img src="./assets/img/mydieselproductionfac1.jpg" class="img-responsive introImage"
                alt="Company Mission Image" />
            <br />
            <p>
                कम्पनी जिले स्तर में My Diesel की सेल के अनुसार Tender डालकर My diesel की उत्पादन फैक्ट्री लगायेगी।
                <br />
                कम्पनी उत्पादन प्रोजेक्ट की मूल्य के अनुसार निवेशक या पार्टनर बनाकर उत्पादन फैक्ट्री डालेगी या फिर कोई
                इच्छुक अकेले ही यह काम लेना चाहता है तो फिर बैंक से लोन करवाकर My Diesel का उत्पादन करने में उसकी मदद
                करेगी, उसे कच्चा माल देगी व कच्चे माल से बना हुआ My Diesel भी खरीदेगी।
                <br />
                हमारी कम्पनी
                <br />
                <img src="./assets/img/minipetrolpump2.jpg" class="img-responsive introImage"
                    alt="Company Mission Image" />
                <br />
                <b>NOTE - </b> My Diesel, Market Petrol Pump Rate से 2 रु सस्ता हमारे पम्प से बिकेगा करें व कम्पनी की
                वेब साइट में आवेदन करें। +91-7905537387
                <br />
                <b>डीलरशिप लेने वाले से - </b>
                <br />
                बिजली, पानी की व्यवस्था
                <br />
                Minimum Land Required - 60 * 80 (feet)
                <br />
                कम से कम जमीन की जरुरत - 60 * 80 (feet)
                <br />
                <b>
                    Note -
                </b> Circle Rates के हिसाब से कम्पनी जमीन का किराया भी देगी।
                <br />
                Mini Petrol Pump पाने की कुल लागत 20 Lac रु जिस पर 50 से 60 प्रतिशत तक का लोन भी हो सकता है।
                <br />
                पेट्रोल पम्प खोलने के लिए जरुरी दस्तावेज या साधन।
                <br />
                <b>कम्पनी द्वारा देने वाली सुविधायें - </b>
                <br />
                <ul class="defaultList">
                    <li>
                        1. Machine, Tank, Roof, Office,
                        Boundary wall - 9 Lac
                    </li>
                    <li>
                        2. License, , Registration और कानुनी काम हेतू - 6 Lac
                    </li>
                    <li>
                        3. Security - 5 Lac
                    </li>
                </ul>

            </p>
        </div>
    </div>
</div>