<div classN="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <p>
                <br />
                <b><u>माई - डीजल सप्लाई योजना</u></b> :- इस योजना मे कम्पनी उत्तर प्रदेश के प्रत्येक ग्राम पंचायत मे
                डीजल आपूर्ति के लिये एक सप्लायर रखेगी जो अपने पूरे ग्राम पंचायत के किसानो व डीजल उपभोक्ताओं को कम्पनी मे
                पंजीकृत करवाकर
                उन्हें डीजल सप्लाई करेगा।
                <br />
                सर्वप्रथम कम्पनी सप्लायर को एक लिस्ट बनाने को देगी जिसमें वह अपने गॉव के किसानो के नाम ,उनका मोबाइल
                नम्बर ,पता ,आधार संख्या व उनके वाहनों की जानकारी कम्पनी को कम्पलीट करके देगा और कम्पनी उन्हें पंजीकृत
                करेगी फिर कम्पनी से डीजल खरीदकर उन्हें सप्लाई देगा।
                <br />
            </p>
            <br />
            <br />
            <br />
            <p>
            </p>
        </div>
    </div>
</div>