<div classN="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <b><u>माई डीजल का उत्पादन</u></b>
            </h2>
            <p>

                <br />
                हम अपना डीजल कई नई एवं एडवांस तकनीकों का उपयोग करके बनाते हैं। हमारा My Diesel भारत देश का पहला ऐसा जैव
                दृ डीजल है जो हर गाड़ियों में बडी ही असानी से चलता है व भारत सरकार के मानकों की पुष्टि करता है।
                <br />
                हम My Diesel की Quality के लिए उसकी Purification Process, Filteretion Process, FFA Content पर ज्यादा
                ध्यान देते है। हम इस शताब्दी का सबसे अच्छा डीजल बनाने के लिए रिसर्च एवं प्रयास भी कर रहे हैं।
                <br />
            </p>
            <br />
            <br />
            <br />
            <p>
            </p>
        </div>
    </div>
</div>