<div classN="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <b><u>माई डीजल उपयोग के फायदे</u></b>
            </h2>
            <p>

                <br />
                <b>1. अच्छा पिकअप </b> - सीटेन नं० की मात्रा अधिक होने के कारण आम पेट्रोलियम डीजल से 40 प्रतिशत तक अच्छा
                पिकअप बनता है साफ जलता है।
                <br />
                <b>2. अच्छा एवरेज माइलेज </b> - मार्केट डीजल से हमारे My Diesel का घनत्व अधिक होने के कारण हमारा शुद्ध
                My Diesel B-100 अधिक एवरेज निकालता है।
                <br />
                <b>3. कम मेन्टीनेन्स </b> - आम पेट्रोलियम डीजल से हमारे My Diesel की विस्कोसिटी चिकनाहट Lubricity अधिक
                होने से इंजन कम घर्षण महसुस करता है जो इंजन की लाइफ बढ़ायेगा और मेंटीनेंस भी कम करता है।
                <br />
                <b>4. कम प्रदुषण </b> - जिन गैसों से कैंसर जैसी खतरनाक बीमारियां होती है हमारा My Diesel 80 प्रतिशत तक
                उनका कम उत्सर्जन करता है।
                <br />
            </p>
            <br />
            <h2>
                <b><u>माई डीजल उपयोग के फायदे</u></b>
            </h2>
            <p>
                My Diesel को आप किसी भी डीजल ईंजन में उपयोग कर सकते हैं।
            </p>
            <br />
            <h2>
                <b><u>इस प्रोजेक्ट से कई फायदे होंगे</u></b>
            </h2>
            <p>
                <br />
                <b>प्रदूषण </b> - देश में बढ़ते हुए प्रदूषण आज की बड़ी समस्या हैए हमारा My Diesel, पेट्रोल पम्प वाले डीजल
                की अपेक्षा 80% तक हानिकारक गैसों का कम उत्सर्जन करता है जिनसे कैंसर जैसी खतरनाक बिमांरियाँ होती है।
                <br />
                <b>रोजगार </b> - कम्पनी इस बड़े प्रोजेक्ट पर काम करके देश में रोजगारी के नए अवसर भी लायेगी।
                <br />
                <b>नगरिकों को सुविधा </b> - हमारे पंजीकृत व अन्य ग्राहकों को डीजल पेट्रोल पम्प से सस्ता प्राप्त होगा।
                <br />
                <b>दरवाजे पर ही डीजल मंगाने की सुविधा </b> - हमारी कम्पनी अपने पंजीकृत ग्राहकों को उनके दरवाजे पर
                डीजल पहुंचाकर देगी।
                <br />
                <b>पंजीकृत ग्राहक </b> - हमारी कम्पनी अपने पंजीकृत ग्राहकों को उनकी खरीद के अनुसार उपहारए ईनाम भी
                प्राप्त करवायेगी।
                <br />
                <b>सुरक्षित वाहन योजना </b> - इस योजना के तहत कम्पनी अपने पंजीकृत ग्राहकों के वाहनों में डीजल इंजन
                Maintenance की जिम्मेदारी लेती है।
                <br />
            </p>
        </div>
    </div>
</div>