<div class="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <h2 class="defaultHeader">दुनिया भर के बायोडीजल निर्माताओं से सन्धि करना:</h2>
            <br />
            <br />
            <p>हमारी कम्पनी दुनिया भर के बायोडीजल के छोटे व बड़े निर्माताओ के साथ सन्धि करके उनको अपने नदकमत मे लेकर उनसे
                अपनी तकनीकी से बायोडीजल उत्पादन कराएगी व उनसे ही उत्पादित माल खरीदकर अपने डीलरो को सप्लाई करेगी।
                <br />
                कम्पनी अपनी कच्चे माल की व्यवस्था टीम से उन्हें कच्चा माल भी प्राप्त कराएगी।
                <br />
            </p>
        </div>
    </div>
</div>