<div class="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <h2 class="defaultHeader">Peti Dealer Shop (पेटी डीलर केंद्र)</h2>
            <br />
            <img src="./assets/img/petidealer.jpg" class="img-responsive introImage" alt="Company Mission Image" />
            <br />
            <p>
                हमारी कम्पनी गाँवों में डीजल की समस्या का समाधान करने के लिए कम लागत में ही डीजल बिक्री की सुविधा देने
                जा रही है। इस
                योजना में कम्पनी गाँवोंए कस्बों व क्षे़त्रों के अनुसार पेटी डीलर बनाएगी और उनकी दुकान पर ही डीजल ही
                सुविधा पहुंचाएगी।
                पेटी डीलर को कम्पनी 3 Rs/Ltr का कमीशन देगी।
                <br />
                पेटी डीलर का लाइसेंस बनवाने के लिए इच्छुक को GST का Registration, Company का Registration, Shops and
                Establishment act का approval लेनी पड़ेगी जो सारा कम्पनी करवाकर देगी जिसकी फीस इच्छुक को कम्पनी में
                देयनीय होगी। इच्छुक को पेटी डीलर बनने के लिए निम्नलिखित दस्तावेज देने होगे।
                <br />
                <ul class="defaultList">
                    <li>
                        1. पैन कार्ड
                    </li>
                    <li>
                        2. आधर कार्ड
                    </li>
                    <li>
                        3. 4 फोटो
                    </li>
                    <li>
                        4. 10रु स्टॉम्प में शपथ पत्र
                    </li>
                    <li>
                        5. बैंक पासबुक / कैंसिल्ड चैक
                    </li>
                    <li>
                        6. दुकान - अगर स्वंम का - बिजली का बिल / पानी का बिल
                    </li>
                    <li>
                        7. दुकान - अगर किराये की - रेंट एग्रीमेंट
                    </li>

                </ul>
                <br />
                <b>Note - </b> 1. डीलर को व ड्रम कम्पनी से खरीदने होंगे।
                <br /> 2. इस प्रोजेक्ट की अधिक जानकारी के लिए कम्पनी के नम्बरों में सर्म्पक करें व कम्पनी की वेब साइट
                में आवेदन करें। +91-7905537387
                <br />
                पेटी डीलरशिप पाने की कुल लागत 25000/- रु है, जो कि निम्न प्रकार से है
                <br />
                <ul class="defaultList">
                    <li>
                        1. Shop License - रु 5000/-
                    </li>
                    <li>
                        2. GST Registration - रु 2500/-
                    </li>
                    <li>
                        3. Company Registration - रु 5000/-
                    </li>
                    <li>
                        4. Fire Cylinders - रु 5000/-
                    </li>
                    <li>
                        5. weights and Measurement - रु 1000/-
                    </li>
                    <li>
                        6. Security - रु 10000/-
                    </li>
                    <li>
                        7. Other Expenses - रु 1500/-
                    </li>
                </ul>
                <h3><b>Total - रु 35000/-</b></h3>
            </p>
        </div>
    </div>
</div>