<div class="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <h2 class="defaultHeader">Petrol Pump Peti Shop</h2>
            <br />
            <img src="./assets/img/petipetrolpump1.jpg" class="img-responsive introImage" alt="Company Mission Image" />
            <img src="./assets/img/petipetrolpump2.jpg" class="img-responsive introImage" alt="Company Mission Image" />
            <br />
            <p>
                इस योजना में कम्पनी 1000 – 1000 ली० के दो फ्लैक्सी टैंक व एक Mini Dispenser Machine लगवाकर 2000 ली० के
                अन्दर का स्टॉक देकर छोटे पेट्रोल पम्प की तरह दुकान खुलवाकर उन्हें डीजल सप्लाई करेगी।
                <br />
                इस योजना का मुख्य उद्देश्य कस्टमर्स की संतुष्टी का है क्योंकि कई जगहों पर कस्टमर खुला डीजल लेने पर संकोच
                करता है। इस लिए हमारी कम्पनी ने अपनी इस योजना में बहुत ही कम लागत में पेट्रोल पम्प देने का प्रस्ताव रखा
                है। Retail Petrol Pump Shop के License, Registration व NOC की प्रक्रीया फुटकर डीजल पेटी योजना की तरह है।
                Retail Petrol Pump Shop डीलर का कमीशन भी 3 Rs/Ltr रहेगा।
                <br />
                <b>Note - </b> इस प्रोजेक्ट की अधिक जानकारी के लिए कम्पनी के नम्बरों में सर्म्पक करें व कम्पनी की वेब
                साइट में आवेदन करें। +91-7905537387
                <br />
                <b>Note - </b>कम्पनी कम से कम एक बार में 3 से 4 ड्रम की सप्लाई देगी।
                <br />
                पेटी पेट्रोल पम्प पाने की कुल लागत 3 Lac Rs है, जो निम्न प्रकार से है -
                <br />
                <ul class="defaultList">
                    <li>
                        1. Company Registration - रु 20,000/-
                    </li>
                    <li>
                        2. GST Registration - रु 5000/-
                    </li>
                    <li>
                        3. Shop License - रु 10,000/-
                    </li>
                    <li>
                        4. Fire NOC’s - रु 10,000/-
                    </li>
                    <li>
                        5. Fire Cylinders - रु 5000/-
                    </li>
                    <li>
                        6. Tank - रु 30,000/-
                    </li>
                    <li>
                        7. Machine - रु 70,000/-
                    </li>
                    <li>
                        6. Security - रु 50,000/-
                    </li>
                    <li>
                        7. Stock - रु 1,00,000/-
                    </li>

                </ul>
                <br />
                <b>Total - रु 3,00,000/-</b>
            </p>
        </div>
    </div>
</div>