<div class="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <h2 class="defaultHeader">Registered Customer योजना</h2>
            <br />
            <img src="./assets/img/registeredcustomer.png" class="img-responsive introImage"
                alt="Company Mission Image" />
            <br />
            <p>
                अपने डीलरों के सहयोग व उनकी बिक्री बढ़वाने के लिए कम्पनी यह योजना लेकर आयी है, जिस पर कम्पनी अपने डीलरर्स
                के कस्टमर्स को पंजीकृत करेगी व उनकी सुविधा व सर्विस का पूरा ध्यान रखेगी उन्हें कम्पनी अपना कार्ड बनाकर
                देगी व कम्पनी के डजल की खपत के अनुसार उन्हें उपहार व कनीशन देगी।
                <br />
                <br />
                <b>Available on Demand Door to Door Diesel Supply योजना</b>
                <br />
                इस योजना में कोई भी गाड़ी मालिक या जिसे भी डीजल की जरुरत हो अपने आप को कम्पनी में Registered करवायेगा और
                वह कम्पनी से कम से कम 200 Lts. का Order लगवाकर अपने दरवाजे में डीजल मंगवा सकता है।
                <br />
                इस योजना में जो भी कम्पनी के पास का डीलर होगा कम्पनी उसे सप्लाई देने के लिए कहेगी व उसको वहाँ का
                Registered Customer बना देगी।
            </p>
        </div>
    </div>
</div>