<div classN="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <br />
            <p>
                <u><b>Business Team : ऋण योजनाद्ध</b></u>
            </p>
            <br />
            <img src="./assets/img/team.jpg" class="img-responsive introImage" alt="Home Image" />
            <br />
            <p>
                <!-- <b>KRASAK BIOFUELS PVT. LTD. </b> -->
                <br />
                कम्पनी अपने व्यापार को पूरे देश में विस्तार करने के लिए हर क्षेत्र कि अलग दृ अलग Team बनाने जा रही है,
                जो निम्न प्रकार से हैं

            </p>
            <br />
            <table style="width:100%">
                <tr>
                    <th>S No.</th>
                    <th>Team</th>
                    <th>Post</th>
                </tr>
                <tr>
                    <td>1)</td>
                    <td>Business Development </td>
                    <td>Business Development Executive,
                        <br />
                        Business Development Officer,
                        <br />
                        Business Development Manager.
                    </td>
                </tr>
                <tr>
                    <td>2)</td>
                    <td>Marketing </td>
                    <td>Marketing Officer,
                        <br />
                        Marketing Manager,
                        <br />
                        Area sales manager.
                    </td>
                </tr>
                <tr>
                    <td>3)</td>
                    <td>Management </td>
                    <td>Chief Operating Officer,
                        <br />
                        व अन्य विभागों के Manager
                    </td>
                </tr>
                <tr>
                    <td>4)</td>
                    <td>Finance </td>
                    <td>Finance Officer,
                        <br />
                        Finance Manager,
                        <br />
                        Accountant.
                    </td>
                </tr>
                <tr>
                    <td>5)</td>
                    <td>Legal </td>
                    <td>Legal Adviser,
                        <br />
                        Legal Officer,
                        <br />
                        Legal Manager.
                    </td>
                </tr>
                <tr>
                    <td>6)</td>
                    <td>Technology </td>
                    <td>Chief technology Officer,
                        <br />
                        Chief technology Manager,
                        <br />
                        व अन्य विभागों के Members
                    </td>
                </tr>
                <tr>
                    <td>7)</td>
                    <td>Production </td>
                    <td>Factory Manager,
                        <br />
                        Production Head,
                        <br />
                        व अन्य विभागों के Members
                    </td>
                </tr>
                <tr>
                    <td>8)</td>
                    <td>Raw Material </td>
                    <td>Raw Material Arrangement Team,
                        <br />
                        व अन्य Members
                    </td>
                </tr>
                <tr>
                    <td>9)</td>
                    <td>Mission Colaboration to Biodiesel </td>
                    <td>Project Head
                    </td>
                </tr>
                <tr>
                    <td>10)</td>
                    <td>Manufacturers all Over The World. </td>
                    <td>व अन्य Members
                    </td>
                </tr>
            </table>
            <br />
            <p>
                <!-- <b>KRASAK BIOFUELS PVT. LTD. </b> -->
                <br />
                Note - इस प्रोजेक्ट की अधिक जानकारी के लिए कम्पनी के नम्बरों में सर्म्पक करें व कम्पनी की वेब साइट में
                आवेदन
                करें।
                <br />
                +91-7905537387
            </p>
            <br />
            <br />
            <p>
            </p>
        </div>
    </div>
</div>