<div class="container">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#!currentresearch">Current Research</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Biodiesel
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#!whatisbiodiesel">What is Biodiesel</a></li>
                <li><a href="#!biodieselhistory">History</a></li>
                <li><a href="#!futurefuel">Biodiesel A fuel of Future</a></li>
                <li><a href="#!swotanalysis">SWOT Analysis</a></li>
                <li><a href="#!factsandfigures">Facts and Figures</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Feedstock
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#!aboutFeedStock">About Feedstock</a></li>
                <li><a href="#!animaltallow">Animal Tallow</a></li>
                <li><a href="#!biodieselfromneemoil">Biodiesel from Neem Oil</a></li>
                <li><a href="#!biodieselfrompalmoil">Biodiesel from Palm Oil</a></li>
                <li><a href="#!rapeseedasafuel">Rapeseed as a Fuel</a></li>
                <li><a href="#!ricebranoil">Rice Bran Oil</a></li>
                <li><a href="#!wastevegetableoil">Waste Vegetable Oil</a></li>
            </ul>
        </li>
        <li><a href="#!governmentvision">Government Vision</a></li>
        <li><a href="#!companymission">Company Mission</a></li>
        <li><a href="#!faq">FAQ's</a></li>
        <li><a href="#!deskofmd">CEO's Blog</a></li>
        <li><a href="#!contact">Contact</a></li>
    </ul>
</div>