<div class="col-md-9 contentScreen">
    <div class="row">
        <div class="col-md-12">
            <br />
            <img src="./assets/img/mdvision.png" class="img-responsive introImage" alt="M.D. Vision Image" />
            <p>
                Biodiesel is a wonder of the wonders of this era - A Fuel Oil replacement for Mineral Diesel Fuel (HSD/LDO/FO) with far superior
                characteristics. To name a few are:
            </p>
            <ul class="defaultList">
                <li>Far superior to Mineral Diesel</li>
                <li>Environmental friendly</li>
                <li>Safe</li>
                <li>Renewable</li>
                <li>Can be home brewed</li>
            </ul>
            <p>
                Biodiesel can be produced from any vegetable oil, Animal Tallow, Waste Cooking Oil, Fish Oil and the like which occurs naturally
                across the globe.
            </p>
            <br />
            <p>
                While considering Biodiesel, mankind is not restricted to the occurrence of the oil deposits as compared to that of mineral
                diesel. The raw materials used for production of biodiesel can be grown ubiquitously where there are footprints
                of mankind.
            </p>
            <br />
            <p>
                The concept of Biodiesel therefore, liberates the mankind of the regional bounds of oil wells and offers self-sufficiency
                for every region of the world. Biodiesel is gaining popularity world over.
            </p>
        </div>

        <div class="col-md-12">
            <h2 class='defaultHeader'>WORLD SCENARIO</h2>
            <p>
                Organizations across the globe are working in tandem with the Global Community to shift to Green Energy by implementing those
                processes and technology which are environment and nature friendly. Biodiesel is gaining immense popularity
                for encompassing those characteristics which will soon change our polluted environment, atmosphere encased
                with harmful emissions, gloomy sky into a <b>GREENER AND BRIGHTER TOMORROW</b>.
            </p>
            <ul class="defaultList">
                <li>
                    Biodiesel is widely produced in Europe (Germany, France, Italy and Austria), United States of America, Brazil and is coming
                    up in a big way in Japan, Indonesia, Malaysia and India.
                </li>
                <li>
                    These countries provide appropriate Fiscal benefits to the Biodiesel Industry for sound environment reasons.
                </li>
                <li>
                    Presently over 2 Billion Litres of Biodiesel is produced world over in total.
                </li>
                <li>
                    Different nations use a variety of raw materials for producing Biodiesel, as its production is not constrained to any particular
                    raw feedstock. For instance
                    <br />Europe produces biodiesel from: Rapeseed, Sunflower
                    <br />U.S.A produces biodiesel from: Soya
                    <br />Japan, Malaysia, Indonesia: Palm
                    <br />Ireland: frying oil, Animal Fats
                    <br />India: Animal tallow, Acid oil, Palm Oil, Fish Oil, Karanj, Jatropha etc.
                </li>
            </ul>
            <p>
                Biodiesel is an established Industry and the practice of using Biodiesel is well established world over.
            </p>
        </div>
        <div class="col-md-12">
            <h2 class='defaultHeader'>THE INDIAN SCENARIO</h2>
            <ul class="defaultList">
                <li>
                    Demand for petroleum Products for the year 2008 was 124MMT.
                </li>
                <li>
                    Import of crude oil & POL for the year 2008 was 90 MMT.
                </li>
                <li>
                    Production of crude oil in the year 2008 was 34MMT.
                </li>
                <li>
                    Consumption of HSDO & LDO for the year 2008 is 52.33 MMT.
                </li>
                <li>
                    Consumption of motor gasoline ( Petrol) in the year 2008 was 9.64 MMT.
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <h2 class='defaultHeader'>Import Burden on Crude Petroleum</h2>
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Rs(Crores)</th>
                        <th>Billion USD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope='row'>2004-05</th>
                        <th>1,01,963</th>
                        <th>22.60</th>
                    </tr>
                    <tr>
                        <th scope='row'>2005-06</th>
                        <th>1,50,557</th>
                        <th>34.10</th>
                    </tr>
                    <tr>
                        <th scope='row'>2006-07</th>
                        <th>1,90,000</th>
                        <th>43.30</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h2 class='defaultHeader'>Biodiesel and the Indian Economy</h2>
            <ul class="defaultList">
                <li>
                    An increase in $1 per barrel of crude oil prices adds to $425 million to Indian Oil Import Bill.
                </li>
                <li>
                    Oil import constitutes a major part of Indian Trade deficit and has an enormous impact on Indian economy and creation of
                    new jobs.
                </li>
                <li>
                    Oil pool deficit and subsidies to the tune of Rs. 160 Bn for 2008 (USD 4 Bn).
                </li>
                <li>
                    Current annual demand for diesel is projected at 46 MMT and is expected to go up to 67 MMT by 2011.
                </li>
                <li>
                    Investment in Biodiesel technology will ensure that India has transportation fuel options and will not be so vulnerable.
                </li>
            </ul>
            <p>
                India must traverse the path of indigenous energy creation through innovative engineering in order to move from Mineral Oils
                to Biofuels to reap the economic and environmental benefits from the upcoming and booming biodiesel Industry.
            </p>
        </div>
    </div>
</div>